{% extends "blog/base.html" %}
{% block content %}
    <h1>Home Page</h1>
    <div>
        {% for post in posts %}
            {% if post.title %}
                <h3>{{ post.title }}</h3>
            {% else %}
                <h3>Django Post</h3>
            {% endif %}
            <p>Author: {{ post.author }}</p>
            <p>{{ post.content }}</p>
            <p>Posted at {{ post.date_posted }}</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block footer %}
    <h1>Home Footer</h1>
{% endblock footer %}
